body{
    margin: 0px;
    padding: 0px;
    
    font-familY: Verdana, serif;
}
    
header{
	padding: 20px;
    color: white;
    text-align: right;
    background: black;
    font-size: 2em;
}
 
section{
    display: flex;
}

article{
    padding: 10px;
    text-align: center;
    width: 100%; /*Indica al flexbox que los contenidos van a ajustar al tamaño de la pantalla*/
}

#articulo-1{
    background: #7ebdbb;
}

#articulo-2{
    background: #b6ebb3;
}

#articulo-3{
    background: #bacee3;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

img{
    width: 100%;
}
    